version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
      - DB_HOST=postgres
      - DB_PORT=5432
    command: node dist/main.js
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    restart: always
  postgres:
    image: postgres:16
    env_file:
      - .env.prod
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - track_finan_postgres:/var/lib/postgresql/data
    restart: always
volumes:
  track_finan_postgres:
